[submodule "blink-search"]
	path = blink-search
	url = https://github.com/manateelazycat/blink-search.git
[submodule "pix2tex-el"]
	path = pix2tex-el
	url = https://github.com/li-yiyang/pix2tex-el.git
[submodule "lsp-bridge"]
	path = lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "jupyter"]
	path = jupyter
	url = https://github.com/emacs-jupyter/jupyter.git
