[submodule "magit"]
	path = lisp/extensions/magit
	url = https://github.com/magit/magit.git
[submodule "yasnippet"]
	path = lisp/extensions/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "acm-terminal"]
	path = lisp/extensions/acm-terminal
	url = https://github.com/twlz0ne/acm-terminal.git
[submodule "auto-save"]
	path = lisp/extensions/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "compat"]
	path = lisp/extensions/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "dash.el"]
	path = lisp/extensions/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "lsp-bridge"]
	path = lisp/extensions/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
[submodule "markdown-mode"]
	path = lisp/extensions/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "sly"]
	path = lisp/extensions/sly
	url = https://github.com/joaotavora/sly.git
[submodule "tao-theme-emacs"]
	path = lisp/extensions/tao-theme-emacs
	url = https://github.com/11111000000/tao-theme-emacs.git
[submodule "vundo"]
	path = lisp/extensions/vundo
	url = https://github.com/casouri/vundo.git
[submodule "with-editor"]
	path = lisp/extensions/with-editor
	url = https://github.com/magit/with-editor
[submodule "transient"]
	path = lisp/extensions/transient
	url = https://github.com/magit/transient.git
[submodule "blink-search"]
	path = lisp/extensions/blink-search
	url = https://github.com/manateelazycat/blink-search.git
[submodule "auto-sudoedit"]
	path = lisp/extensions/auto-sudoedit
	url = https://github.com/ncaq/auto-sudoedit.git
[submodule "auctex"]
	path = lisp/extensions/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
[submodule "cdlatex"]
	path = lisp/extensions/cdlatex
	url = https://github.com/cdominik/cdlatex.git
[submodule "f.el"]
	path = lisp/extensions/f.el
	url = https://github.com/rejeep/f.el.git
[submodule "s.el"]
	path = lisp/extensions/s.el
	url = https://github.com/magnars/s.el
[submodule "org-mode"]
	path = lisp/extensions/org-mode
	url = https://code.tecosaur.net/tec/org-mode.git
[submodule "dirvish"]
	path = lisp/extensions/dirvish
	url = https://github.com/alexluigit/dirvish.git
[submodule "emojishell"]
	path = lisp/extensions/emojishell
	url = git@github.com:li-yiyang/emojishell.git
[submodule "org-appear"]
	path = lisp/extensions/org-appear
	url = https://github.com/awth13/org-appear.git
[submodule "valign"]
	path = lisp/extensions/valign
	url = https://github.com/casouri/valign.git
[submodule "separedit.el"]
	path = lisp/extensions/separedit.el
	url = https://github.com/twlz0ne/separedit.el.git
[submodule "edit-indirect"]
	path = lisp/extensions/edit-indirect
	url = https://github.com/Fanael/edit-indirect.git
[submodule "json-mode"]
	path = lisp/extensions/json-mode
	url = https://github.com/json-emacs/json-mode.git
[submodule "json-snatcher"]
	path = lisp/extensions/json-snatcher
	url = https://github.com/Sterlingg/json-snatcher.git
[submodule "lisp/extensions/atomic-chrome"]
	path = lisp/extensions/atomic-chrome
	url = https://github.com/alpha22jp/atomic-chrome.git
[submodule "lisp/extensions/code-cells.el"]
	path = lisp/extensions/code-cells.el
	url = https://github.com/astoff/code-cells.el.git
[submodule "lisp/extensions/emacs-websocket"]
	path = lisp/extensions/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "lisp/extensions/json-navigator"]
	path = lisp/extensions/json-navigator
	url = https://github.com/DamienCassou/json-navigator.git
[submodule "lisp/extensions/graphviz-dot-mode"]
	path = lisp/extensions/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode.git
[submodule "lisp/extensions/emacs-popon"]
	path = lisp/extensions/emacs-popon
	url = https://codeberg.org/akib/emacs-popon.git
[submodule "lisp/extensions/maxima"]
	path = lisp/extensions/maxima
	url = https://github.com/emacsmirror/maxima.git
[submodule "lisp/extensions/avy"]
	path = lisp/extensions/avy
	url = https://github.com/abo-abo/avy.git
[submodule "lisp/extensions/biblio.el"]
	path = lisp/extensions/biblio.el
	url = https://github.com/cpitclaudel/biblio.el.git
[submodule "lisp/extensions/citeproc-el"]
	path = lisp/extensions/citeproc-el
	url = https://github.com/andras-simonyi/citeproc-el.git
[submodule "lisp/extensions/ebib"]
	path = lisp/extensions/ebib
	url = https://github.com/joostkremers/ebib.git
[submodule "lisp/extensions/emacs-async"]
	path = lisp/extensions/emacs-async
	url = https://github.com/jwiegley/emacs-async
[submodule "lisp/extensions/emacs-request"]
	path = lisp/extensions/emacs-request
	url = https://github.com/tkf/emacs-request.git
[submodule "lisp/extensions/helm-bibtex"]
	path = lisp/extensions/helm-bibtex
	url = https://github.com/tmalsburg/helm-bibtex.git
[submodule "lisp/extensions/org-ref"]
	path = lisp/extensions/org-ref
	url = https://github.com/jkitchin/org-ref.git
[submodule "lisp/extensions/queue"]
	path = lisp/extensions/queue
	url = https://github.com/emacs-straight/queue.git
[submodule "lisp/extensions/ht.el"]
	path = lisp/extensions/ht.el
	url = https://github.com/Wilfred/ht.el.git
[submodule "lisp/extensions/hydra"]
	path = lisp/extensions/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "lisp/extensions/ox-pandoc"]
	path = lisp/extensions/ox-pandoc
	url = https://github.com/kawabata/ox-pandoc.git
[submodule "lisp/extensions/parsebib"]
	path = lisp/extensions/parsebib
	url = https://github.com/joostkremers/parsebib.git
[submodule "lisp/extensions/emacs-eat"]
	path = lisp/extensions/emacs-eat
	url = https://codeberg.org/akib/emacs-eat.git
[submodule "lisp/extensions/pcmpl-args.el"]
	path = lisp/extensions/pcmpl-args.el
	url = https://github.com/JonWaltman/pcmpl-args.el.git
[submodule "lisp/extensions/gnuplot"]
	path = lisp/extensions/gnuplot
	url = https://github.com/emacs-gnuplot/gnuplot.git
[submodule "lisp/extensions/consult"]
	path = lisp/extensions/consult
	url = https://github.com/minad/consult.git
[submodule "lisp/extensions/org-imenu"]
	path = lisp/extensions/org-imenu
	url = https://github.com/rougier/org-imenu.git
[submodule "lisp/extensions/imenu-list"]
	path = lisp/extensions/imenu-list
	url = https://github.com/bmag/imenu-list.git
[submodule "lisp/extensions/emacs-htmlize"]
	path = lisp/extensions/emacs-htmlize
	url = https://github.com/hniksic/emacs-htmlize.git
[submodule "lisp/extensions/posframe"]
	path = lisp/extensions/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "lisp/extensions/corfu"]
	path = lisp/extensions/corfu
	url = https://github.com/minad/corfu.git
[submodule "lisp/extensions/orderless"]
	path = lisp/extensions/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "lisp/extensions/vertico"]
	path = lisp/extensions/vertico
	url = https://github.com/minad/vertico.git
[submodule "lisp/extensions/vertico-posframe"]
	path = lisp/extensions/vertico-posframe
	url = https://github.com/tumashu/vertico-posframe.git
[submodule "lisp/extensions/marginalia"]
	path = lisp/extensions/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "lisp/extensions/poly-org"]
	path = lisp/extensions/poly-org
	url = https://github.com/polymode/poly-org.git
[submodule "lisp/extensions/polymode"]
	path = lisp/extensions/polymode
	url = https://github.com/polymode/polymode.git
[submodule "lisp/extensions/pdf-tools"]
	path = lisp/extensions/pdf-tools
	url = https://github.com/vedang/pdf-tools.git
